<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support</title>
    <link rel="stylesheet" href="../src/css/customerSupport.css">
</head>
<body>
    <header>
        <div class="flecha-back-black">
            <a href="home.html"> <img src="../src/storage/img/flecha-back-black.png" alt=""></a>
        </div>
        <div class="settings-customer-support">
            <a href="#"> <img src="../src/storage/img/settings-customer-support.png" alt=""> </a>

        </div>
    </header>
    <main>
        <div class="chat__bot">
            <img src="../src/storage/img/user-home.png" alt="imagen ayudante">
            <p>Hi, how can I help you?</p>
        </div>
        <div class="chat__user">
            <img src="../src/storage/img/girl-home.png" alt="imagen usuario">
            <p>Hello, I ordered two fried chicken burgers. can I know how much time it will get to arrive?</p>
        </div>
        <div class="chat__bot2">
            <img src="../src/storage/img/user-home.png" alt="imagen ayudante">
            <p>Ok, please let me check!</p>
        </div>
        <div class="chat__user2">
            <img src="../src/storage/img/girl-home.png" alt="imagen usuario">
            <p>Sure...</p>
        </div>
        <div class="chat__bot3">
            <img src="../src/storage/img/user-home.png" alt="imagen ayudante">
            <p>It’ll get 25 minutes to arrive to your address</p>
        </div>
        <div class="section__timeAgo">
            <p>26 minutes ago</p>
        </div>
        <div class="chat__user3">
            <img src="../src/storage/img/girl-home.png" alt="imagen usuario">
            <p>Ok, thanks you for your support</p>
        </div>
    </main>
    <footer>
        <div class="chat-container">
            <form action="?" method="get">
                <div class="message-box">
                    <input type="text" placeholder="Type here..." class="message-input">
                    <input class="send-button" type="submit" value="">

            </form>
        </div>
    </footer>
</body>
</html>