<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support</title>
    <link rel="stylesheet" href="../src/css/customerSupport.css">
</head>
<body>
    <header>
        <div class="flecha-back-black">
            <a href="https/google.com"> <img src="../src/storage/img/flecha-back-black.png" alt=""></a>
        </div>
        <div class="settings-customer-support">
            <a href="#"> <img src="../src/storage/img/settings-customer-support.png" alt=""> </a>

        </div>
    </header>
</body>
</html>