<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="header__titulo">
            <h1>Foodgo</h1>
            <h3>Order your favourite food!</h3>
        </div>
        <img src="../src/storage/img/girl-home.png">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__categoria">
            <li class="select"><a href="#">All</a></li>
            <li><a href="#">Combos</a></li>
            <li><a href="#">Sliders</a></li>
            <li><a href="#">Classic</a></li>
        </ul>
    </nav>
</body>
</html>