<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment page</title>
</head>
<body>

<!--************Header************-->
    <header class = "header_container">
        <button class="button">
            <img src="../src/storage/img/arrow-left.png" class="arrow_left_img">
        </button>
        
        <button class="button">
            <img src= "../src/storage/img/search.png" class="search_img">
        </button>
    </header>

<!--************main************-->
    <main>








    </main>

<!--************footer************-->
    <footer>








    
    </footer>
</body>
</html>