<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment page</title>
    <link rel="stylesheet" href="/src/css/Payment.css">
</head>
<body>

<!--************Header************-->
    <header class = "header_container">
        <button class="button_1">
            <img src="/src/storage/img/flecha-back-black.png" class="arrow_left_img">
        </button>

        <button class="button_2">
            <img src= "/src/storage/img/search-menu.png" class="search_img">
        </button>
    </header>

<!--************main************-->
<main>
    <section class="main_section">
        <h1 class="main_section_title">Order Summary</h1>

        <div class="order-item">
            <span>Order</span>
            <span>$16.48</span>
        </div>

        <div class="order-item">
            <span>Taxes</span>
            <span>$0.3</span>
        </div>

        <div class="order-item">
            <span>Delivery fees</span>
            <span>$1.5</span>
        </div>

        <hr class="hr">

        <div class="order-item-total">
            <span>Total:</span>
            <span>$18.19</span>
        </div>

        <div class="order-item-tiempo">
            <span>Estimated delivery time:</span>
            <span>15 - 30 mins</span>
        </div>
    </section>

    <section class="payment_section">
        <h1 class="payment_tittle">Payment methods</h1>

        <button class="payment_button">

            <img src="/src/storage/img/credit-card-payment.png" alt="MasterCard">
            <div>
                <span>Credit card</span>
                <span>5105 **** **** 0505</span>
            </div>
            <label class="custom_checkbox">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </button>

        <button class="payment_button">
            <img src="/src/storage/img/debit-card-payment.png" alt="Visa">
            <div>
                <span>Debit card</span>
                <span>5105 **** **** 0505</span>
            </div>
            <label class="custom_checkbox">
                <input type="checkbox" name="payment_method">
                <span class="checkmark"></span>
            </label>
        </button>

        <label class="custom_checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            Save card details for future payments
        </label>
    </section>
</main>



<!--************footer************-->
    <footer>
        <section class="footer section">
            







        </section>
    </footer>
</body>
</html>