<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto2</title>
    <link rel="stylesheet" href="../src/css/producto2.css">
</head>
<body>
    <header>
        <button class="back__button" >
            <img src="../src/storage/img/flecha-back-black.png" alt="flecha-back">
        </button>

        <button class="search__button"> 
            <img src="../src/storage/img/search-menu.png" alt="search-menu">
        </button>
    </header>
    <div class="main_image">
        <img src="../src/storage/img/Hamburgesa-home-2.png" alt="" class="div_image"<>
    </div>
    <footer>
        <div class="product-details">
            <h1 class="product-title">Hamburger Veggie Burger</h1>
            <div class="rating-time">
                <sub><img src="../src/storage/img/star-rating.png" alt=""> </sub>
                <span>   4.8</span>
    </footer>
</body>
</html>