<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product 3</title>
    <link rel="stylesheet" href="../src/css/product3.css/">
</head>
<body>
    <header>
    <div class="header__titulo">
        <a> 
            <img src="../src/storage/img/flecha-back-black.png"> 
        </a>
        <a>
        <img src="../src/storage/img/search-menu.png">  
        </a>
    </header>
    </div>
    <img src="../src/storage/img/Hamburgesa-home-3.png">
    
</body>
</html>

