<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/product1.css">
    <title>Product 1</title>
</head>
<body>
    <form>
        <div class="container-spicy">
            <label>Spicy</label>
            <input type="range">
            <div class="spicy-value">
                <p>Mild</p>
                <p>Hot</p>
            </div>
        </div>



    </form>
</body>
</html>