<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-5</title>
    <link rel="stylesheet" href="../src/css/product-5.css">
</head>
<body>
    <header>
        <button class="back__button">
            <img src="../src/storage/img/flecha-back-black.png">
        </button>
        <button class="search__button">
            <img src="../src/storage/img/search-menu.png">
        </button>
    </header>
    <main>
        <div class="main">
            <div class="container_main">
                <section class="section__images">
                    <img src="../src/storage/img/Hamburgesa-preparacion.png">
                </section>
                <section>
                    <div class="text__main">
                    <p class="section__description"><strong>Customize </strong>Your Burger <br> to Your Tastes. Ultimate Experience</p>
                    <p class="spicy">Spicy</p>
                    </div>
                    <div class="barra">
                        <input type="range" min="0" max="100" value="75" class="slider">
                    </div>
                    <div class="level">
                    <p class="mild">Mild</p>
                    <p class="hot">Hot</p>
                    </div>
                    <p class="portion">Portion</p>
                    <div class="buttons">
                    <button class="button__minus">
                        <img src="../src/storage/img/boton-quitar-producto.png">
                    </button>
                    <button class="button__add">
                        <img src="../src/storage/img/boton-agregar-producto.png">
                    </button>
                    </div>
                    <div class="input__number">
                        <input type="number" name="number" id="2" value="2">
                    </div>
                </section>
            </div>
        </div>
        <p class="p__toppings">Toppings</p>
        <section class="section__toppings">
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-1.png" alt="Tomates." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Tomato</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-2.png" alt="Cebollas rojas." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Onions</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-3.png" alt="Pepino." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Pickles</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-4.png" alt="Bacons." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Bacons</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
        </section>
        <p class="p__side">Side options</p>
        <section class="section__toppings">
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-5.png" alt="Papas Fritas." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Fries</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article >
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-6.png" alt="Ensalada de col." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Coleslaw</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-7.png" alt="Ensalada." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Salad</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
            <article>
                <div class="ingrediente1_img">
                    <img src="/src/storage/img/Ingrediente-8.png" alt="Cebollas Fritas." class="img__ingrediente1">
                </div>
                <div class="div__ingrediente1">
                    <p class="p__ingrediente1">Onion</p>
                    <img src="/src/storage/img/signo-mas.png" alt="Signo más" class="img__signo-mas-t-1">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="div__total">
            <div class="div__text-total">
                <p>Total</p>
            </div>
            <div class="div__total-price">
                <p class="p__simbol">$</p><p class="p__tprice">16.49</p>
            </div>
        </div>
        <div class="div__order">
            <p><a href="Payment.html">ORDER NOW</a></p>
        </div>
    </footer>
</body>
</html>