<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-5</title>
    <link rel="stylesheet" href="../src/css/product-5.css">
</head>
<body>
    <header>
        <button class="back__button">
            <img src="../src/storage/img/flecha-back-black.png">
        </button>
        <button class="search__button">
            <img src="../src/storage/img/search-menu.png">
        </button>
    </header>
    <main class="main">
        <div class="container_main">
        <section class="section__images">
            <img src="../src/storage/img/Hamburgesa-preparacion.png">
        </section>
        <section>
            <p class="section__description"><strong>Customize </strong>Your Burger <br> to Your Tastes. Ultimate Experience</p>
            <p class="spicy">Spicy</p>
            <div class="barra">
                <input type="range" min="0" max="100" value="75" class="slider">
            </div>
            <p class="mild">Mild</p>
            <p class="hot">Hot</p>
            <p class="portion">Portion</p>
            <button class="button__minus">
                <img src="../src/storage/img/boton-quitar-producto.png">
            </button>
            <button class="button__add">
                <img src="../src/storage/img/boton-agregar-producto.png">
            </button>
            <div class="input__number">
                <input type="number" name="number" id="2" value="2">
            </div>
        </section>
        </div>
    </main>
</body>
</html>