<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/product4.css"> 
    <title>Product 4</title>
</head>
<body>
    <header>
        <a href="home.html"></a>
    </header>

    <main>
        <section class="section_product_image">
            <img src="../src/storage/img/Hamburgesa-product-4.png" alt="Producto 4">
        </section>

        <section class="section_product_info">
            <h3>Fried Chicken Burger</h3>
            <section class="section_rating">
                <img src="../src/storage/img/star-rating.png">
                <p> 4.5   ⎯   14 mins</p>


            </section>
            <p>Indulge in our crispy and savory Fried Chicken Burger, 
                made with a juicy chicken patty, hand-breaded and deep-fried to perfection, 
                served on a warm bun with lettuce, tomato, and a creamy sauce.
            </p>
    </main>
    <footer>
           <div class="spicy">
        <div class="spicy-selector">
            <div class="spicy-label">Spicy</div>
            <div class="slider-container">
                <input type="range" min="0" max="10" class="spicy-slider" >
                <div class="spicy-labels">
                    <span class="mild-label">Mild</span>
                    <span class="hot-label">Hot</span>
                </div>
            </div>
        </div>
<div class="portion-container">
            <p class="portion-label">Portion</p>
            <div class="portion-selector">
                <img src="../src/storage/img/boton-quitar-producto.png" alt="" class="img1">
                <span class="portion-count">4</span>
                <img src="../src/storage/img/boton-agregar-producto.png" alt="" class="img2">
            </div>
    </div>
    </div>
    <div class="price-button-container">
        <button class="price-button">$26.99</button>
        <button class="order-button">ORDER NOW</button>
    </div>

    </footer>
</body>
</html>