<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-3</title>
     <link rel="stylesheet" href="/Food-App-Design-UI-Template/src/css/product3.css">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Product 3</title>
     <link rel="stylesheet" href="../src/css/product3.css">
 
</head>
<body>
    <div class="header">
        <a class="back" href="#" target="_blank"> 
            <img src="../src/storage/img/flecha-back-black.png"> 
        </a>
        <a class="search" href="#" target="_blank">
            <img src="../src/storage/img/search-menu.png">
        </a>
    </div>
    <div class="Hamburgesa">
        <img class="burger" src="../src/storage/img/Hamburgesa-product-3.png">
        <img class="sombra_burger" src="../src/storage/img/Ellipse 8.png"> 
    </div>
    <h2 class="letter">Hamburger Chicken Burger</h2>
    <div class="div-body">

        <div class="rating-time">
            <sub><img src="../src/storage/img/star-rating.png" alt=""> </sub>
            <span>   4.6</span>
            <span>- 42 mins</span>
        </div>
        <p class="product-description">
                    Our chicken burger is a delicious and healthier 
                    alternative to traditional beef burgers, perfect for those 
                    looking for a lighter meal option. Try it today and 
                    experience the mouth-watering flavors of our 
                    Hamburger Chicken Burger!
        </p>
    </div>
    <div class="spicy">
        <div class="spicy-selector">
            <div class="spicy-label">Spicy</div>
            <div class="slider-container">
                <input type="range" min="0" max="10" class="spicy-slider">
                <div class="spicy-labels">
                    <span class="mild-label">Mild</span>
                    <span class="hot-label">Hot</span>
                </div>
            </div>
        </div>
<div class="portion-container">
            <p class="portion-label">Portion</p>
            <div class="portion-selector">
                <img src="../src/storage/img/boton-quitar-producto.png" alt="" class="img1">
                <span class="portion-count">2</span>
                <img src="../src/storage/img/boton-agregar-producto.png" alt="" class="img2">
            </div>
    </div>
    </div>
    <div class="price-button-container">
        <button class="price-button">$12.48</button>
        <button class="order-button">ORDER NOW</button>
    </div>
    </div>

</body>
</html>