<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-5</title>
    <link rel="stylesheet" href="../src/css/product-5.css">
</head>
<body>
    <header>
        <button class="back__button">
            <img src="../src/storage/img/flecha-back-black.png">
        </button>
        <button class="search__button">
            <img src="../src/storage/img/search-menu.png">
        </button>
    </header>
</body>
</html>