<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/product1.css">
    <title>Product 1</title>
</head>
<body>
    <div class="header">
        <a class="back" href="#" target="_blank"> 
            <img src="../src/storage/img/flecha-back-black.png"> 
        </a>
        <a class="search" href="#" target="_blank">
            <img src="../src/storage/img/search-menu.png">
        </a>
    </div>
    <div>
    <img class="burger" src="../src/storage/img/Hamburgesa-product-1.png"> 
    </div>
    <h2 class="letter">Cheeseburger Wendy's Burger</h2>

    <div class="product-details">
        <div class="rating-time">
            <sub><img src="../src/storage/img/star-rating.png" alt=""> </sub>
            <span>   4.9</span>
            <span>-- 26 mins</span>
</div>
        <p class="product-description">
            The Cheeseburger Wendy's Burger is a classic fast
            food burger that packs a punch of flavor in every bite. 
            Made with a juicy beef patty cooked to perfection, it's 
            topped with melted American cheese, crispy lettuce, 
            ripe tomato, and crunchy pickles.
        </p>
    </div>
    <form>
        <div class="container-spicy">
            <label>Spicy</label>
            <input type="range">
            <div class="spicy-value">
                <p>Mild</p>
                <p>Hot</p>
            </div>
        </div>
        <div class="container-portion">
            <p>Portion</p>
             <div class="portion-value-1">
                 <button>
                     <div class="imagenes-signos">
                         <img src="../src/storage/img/signo-menos.png" alt="" class="img-1">
                     </div>
                 </button>
                 <input type="number" value="2">
                 <button>
                     <div class="imagenes-signos">
                         <img src="../src/storage/img/signo-mas.png" alt="" class="img-2">
                     </div>
             </div>
         </div> 
    </form>
    <section class="total-price">
        <div>
            <p>$8.24</p>
        </div>
        <input type="submit" value="ORDER NOW">
     </section> 
</body>
