<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product 3</title>
    <link rel="stylesheet" href="../src/css/product3.css">
    
</head>
<body>

    <div class="header">
        <a class="back" href="#" target="_blank"> 
            <img src="../src/storage/img/flecha-back-black.png"> 
        </a>
        <a class="search" href="#" target="_blank">
            <img src="../src/storage/img/search-menu.png">  
        </a>
    </div>
    <div>
        <img class="burger" src="../src/storage/img/Hamburgesa-product-3.png"> 
    </div>
    
    <h2 class="letter">Hamburger Chicken Burger</h2>
</body>
</html>
