<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/src/css/userprofile.css">
    </head>
<body>
    <header>
        <div class="gradiente-rojo-rosado"></div>
        <section class="section_images">
            <img src="/src/storage/img/Hamburgesa-home-2.png" alt="">
            <img src="/src/storage/img/Hamburgesa-home-2.png" alt="">
        </section>
        <section class="section_settings">
            <img src="/src/storage/img/settings-user-profile (1).png" alt="">
            <img src="/src/storage/img/flecha-back-user-profile.png" alt="">
        </section>
    </header>
    <main>
        <section class="section_img_main">
            <img src="/src/storage/img/girl-home-completa.png" alt="">
        </section>
        <div class="box-container">

            <div class="box">
                <p class="sup">Name</p>
                <p class="box-content">Sophia Patel</p>
            </div>
            <div class="box">
                <p class="sup">Email</p>
                <p class="box-content">sophiapatel@gmail.com</p>
            </div>
            <div class="box">
                <p class="sub">Delivery address</p>
                <p class="box-content">123 Main Street, New York, NY</p>
            </div>
            <div class="box">
                <p class="password">Password <i class="fa-solid fa-lock"></i> </p>
                <div class="points">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                    <div class="circle5"></div>
                    <div class="circle6"></div>
                    <div class="circle7"></div>
                    <div class="circle8"></div>
                    <div class="circle9"></div>
                </div>
            </div>
        <div>
        <div class="line"></div>
        <div class="selection">
            <div class="details">
                <p class="payment">Payment Details</p>
            <div class="details">
                <p class="payment">Order History</p>
            </div>
        <div class="arrows">
            <i class="fa-solid fa-chevron-right"></i>   
        </div>
        <div class="arrows">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        </div>
    </main>
    <footer>
        <div class="footer-box">
            <div class="footer-content">
                <p class="footer-text">Edit Profile </p>
                <div class="simbol">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
            </div>
            <div class="content">
                <p class="text">Logout</p>
                <div class="simbols">
                    <i class="fa-solid fa-sign-out-alt"></i>
            </div>
        </div>

    </footer>
</body>
</html> 