@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 21px;
}

header .flecha-back-black{
    width: 28px;
    height: 28px;

}

header .settings-customer-support{
    width: 20px;
    height: 8.5px;


}

.settings-customer-support img{
    background: transparent;
}