@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family : "Inter_18pt-Regular";
}
.header_container{
    /*background-color: aqua;*/
    height: 60px;
}
.button_1{
    position: relative;
    width: 28px;
    height: 28px;
    top:19px;
    left: 10px;
    background-color: var(--color-1);
    border:none;
    cursor: pointer;
}

.button_2{
    position: relative;
    left: 80%;
    width: 28px;
    height: 28px;
    top:13px;
    background-color: var(--color-1);
    border:none;
    cursor: pointer;
}

.main_section_title{
    position:relative;
    font-family:"Inter_28pt-Bold";
    color: var(--color-2);
    left:18px;   
    font-size:20px;
    overflow: hidden;
    
}

.order-item{
    justify-content: space-between;
    font-family: "Inter_18pt-Regular";
    display: flex;
    padding: 30px;
    margin-bottom: -34px;
    color: var(--color-3);
    overflow: hidden;
}
.hr {
    margin-top: 8px;
    overflow: hidden;
}

.order-item-total{
    margin-top: 5px;
    display:flex;
    justify-content: space-between;
    font-family: "Inter_28pt-Bold";
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;  
}
.order-item-tiempo{
    display:flex;
    justify-content: space-between;
    font-family: "Inter_28pt-Bold";
    font-size: 15px;
    padding: 20px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right:10px;
}

.payment_tittle{
    font-family: "Inter_28pt-Bold";
    color: var(--color-2);
    margin-top: 30px;
    margin-left: 10px;
}

.payment_button{
    margin-top: 20px;
    display: flex;
    width: 248px;
    height: 50px;
    margin-left: 30px;
    background-color: var(--color-2);
    border-radius: 15px;
    color: var(--color-1);
}

.payment_button:nth-of-type(2){
    background-color: var(--color-1);
    color: var(--color-2);
}

.payment_button img{
    width: 70px;
    height: auto;
    padding:3px;
    margin-top: 2px;
    display: flex;
    align-items: center; 
    gap: 5px; 
    padding: 10px;
    
}
.payment_button div {
    display: flex;
    flex-direction: column; 
    line-height: 1.2;
}


.custom_checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.custom_checkbox input {
    display: none;
    border: 2px solid black;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid white;  
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
    border: 2px solid black;
}


.custom_checkbox input:checked + .checkmark {
    background-color: white; 
    border: 2px solid black;
}

.custom_checkbox input:checked + .checkmark::before {
    content: "✔";
    font-size: 14px;
    font-weight: bold;
    color:  black;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

