@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--color-20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.section_menssage{
    width: 340px;  /* Ajusta el tamaño de la caja */
    height: 400px; /* Ajusta el tamaño de la caja */
    background-color: var(--color-4);
    border-radius: 15px;
    box-shadow: 0px 19px 47px -8px rgba(0, 0, 0, 0.3); /* Sombra suave */;
}

.imagen{
    text-align: center;
    
    }
    
    img{
        margin-top: 26px;
        max-width: 100%;
        height: auto;
    }
    
    h1{
        /*background-color: pink;*/
        margin-top: 28px;
        font-size: 30px;
        text-align: center;
        font-family: "Poppins-Bold";
        color: var(--color-3);
    }
    
    p{
        text-align: center;
        font-size: 13px;
        position: relative;
        font-family: "Roboto-regular";
        padding: 6px;
        padding-left: 80px;
        padding-right: 80px;
        line-height: 1.6;
        margin:center;
        color: var(--color-10);
    }


    .button {
        text-align: center; /* Centra el contenido en línea, como los botones */
        margin-top: 52px;
    }
    
    /* Estilos para el botón */
    .boton {   
        padding: 17px 70px;
        margin: center;
        background-color: var(--color-3);
        color: var(--color-4);
        font-family: "Roboto-SemiBold";
        font-size: 18px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
    
    
