@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--color-10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.section_menssage{
    width: 340px;  /* Ajusta el tamaño de la caja */
    height: 400px; /* Ajusta el tamaño de la caja */
    background-color: var(--color-4);
    border-radius: 15px;
}

.imagen{
    text-align: center;
    
    }
    
    img{
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }
    
    h1{
        /*background-color: pink;*/
        margin-top: 20px;
        font-size: 30px;
        text-align: center;
        font-family: "Poppins-Bold";
        color: var(--color-3);
    }
    
    p{
        text-align: center;
        font-size: 13px;
        position: relative;
        font-family: "Roboto-regular";
        padding: 10px;
        padding-left: 80px;
        padding-right: 80px;
        line-height: 1.5;
        margin:center;
        color: var(--color-10);
    }
    
