@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
main{

}
.section_menssage{

    width: 340px;  /* Ajusta el tamaño de la caja */
    height: 400px; /* Ajusta el tamaño de la caja */
    background-color: var(--color-4);
    border-radius: 15px;
}
.imagen{
text-align: center;

}

img{
    margin-top: 26px;
    max-width: 100%;
    height: auto;
}

h1{
    /*background-color: pink;*/
    margin-top: 28px;
    text-align: center;
    font-family: "Poppins-Bold";
    color: var(--color-3);
}

p{
    width: 199;
    height: 66; 
    text-align: center;
    position: relative;
    font-family: "Roboto-regular";
    padding: 6px 71px 52px 70px ;
    margin:center;
}

.button {
    text-align: center; /* Centra el contenido en línea, como los botones */
  }

/* Estilos para el botón */
.boton {
    width: 220;
    height: 60;
    padding: 16px 77px;
    background-color: var(--color-3);
    color: var(--color-4);
    font-family: "Roboto-SemiBold";
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }