@import url(variables.css);


*{
    margin: 0;
}

form{
    display: flex;
    justify-content: space-between;
    padding: 56px 19px 0px;
    font-family: Roboto-medium;
    color: var(--color-5);
    font-size: 14px;
}

form .container-spicy{
    display: flex;
    flex-direction: column;
    gap: 15px
}


form .container-spicy .spicy-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -4px;
}

form .container-spicy .spicy-value p:first-child{
    color: var(--color-11);
    font-size: 12px;

}

form .container-spicy .spicy-value p:last-child{
    color: var(--color-3);
    font-size: 12px;

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 165px;
    height: 6px;
    background: linear-gradient(to right, var(--color-3) 0%, var(--color-3) 50%, var(--color-8) 50%, var(--color-8) 100%);
    border-radius: 20px;
    outline: none;
    transition: background 0.2s;
    box-shadow: 0px 1px 13px 0px rgba(255, 153, 0, 0.18)
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 14px;
    background: var(--color-3); 
    border-radius: 4px; 
    cursor: pointer; 
    box-shadow: 0 0 0 3px rgb(255, 255, 255); 
    
}
