@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../storage/fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../storage/fonts/Roboto/static/Roboto-Medium.ttf);
}



body{
    background-color: var(--color-4);
}

header {	
    display: flex;
    justify-content: space-between;
    padding: 0; 
}

header img:first-child {	
    padding: 22px 12px 0;
}

header img:last-child {
    padding: 28px 19px 0;
}