@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../storage/fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../storage/fonts/Roboto/static/Roboto-Medium.ttf);
}



body{
    background-color: var(--color-4);
}

header {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header::before {
    /* background-color: red; */
    content: "";
    width: 24px; 
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../storage/img/flecha-back-black.png");
    margin: 22px 12px 0;
}

header::after {
    /* background-color: blue; */
    content: "";
    width: 24px; 
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../storage/img/search-menu.png");
    margin: 28px 19px 0;
}

header a {
    /* background-color: burlywood; */
    position: absolute;
    left: 12px;
    top: 25px;
    width: 24px;
    height: 24px;
}

main .section_product_image{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 59px 35px 55.5px 23px ; 
}

main .section_product_info{
    display: flex;
    flex-direction: column;
    padding: 0 19px;
}

main .section_product_info h3{
    font-family: "Roboto";
    font-size: 25px;
    color: var(--color-5);
    font-weight: 600px;
}

main .section_product_info p:nth-child(2){
    font-family: "Roboto-Medium";
    font-size: 15px;
    color: var(--color-10);
    margin-top: 9px;
    line-height: 20.2px;
    font-weight: 500px;
}
main .section_rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main .section_product_info .section_rating img{
    width: 16px;
    height: 16px;
    margin: 10px 5px 0 0 ;
}

main .section_product_info p:nth-child(3){
    font-family: "Roboto";
    font-size: 16px;
    color: var(--color-6);
    margin-top: 19px;
    line-height: 27.47px;
}

<<<<<<< HEAD
=======
.section_formulary{
    /* background-color: #1CC019; */
    display: flex;
    padding: 10px 0px 10px 20px ;
    color: #3C2F2F; 
    gap: 53px;
}

.buttons{
    display: flex;
    /* background:yellowgreen; */
    color:white;
    font-size: 30px;
    font-weight: bolder;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}

.plus{
    display: flex;
    width: 40px;
    background-color: red;
    justify-content: center;
    border-radius: 10px;
}

.minus{
    display: flex;
    width: 40px;
    background-color: red;
    justify-content: center;
    border-radius: 10px;
}

.quantity{
    width: 40px;
    justify-content: center;
    display: flex   ;
}

#quantity{
    font-size: 20px;
    color: black;
    font-weight: lighter;
}
>>>>>>> dd9150b (feat: :art: creacion de cajas)

<<<<<<< HEAD
=======
footer{
}

.texto{
    padding-bottom: 25px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */
    gap: 10px; /* Espacio entre las columnas */
}


.col {
    
    text-align: center;
}

.col#red{
    padding-left: 20px;
    padding-bottom:0px ;
    width: 175px;
    text-align: start;
}

.col#black {
    text-align: start;
}

.burger{
    width: 100%;
    height: 10%;
}
.opcions{
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    width: 127px;
    height: 15px;
    padding-left: 17px ;
}
.opc1{
    font-family: "letter";
    margin: none;
    margin-left: 5px;
    width: 120px;
    height: 14px;
    color: #1CC019;
}

.opc2{
    font-family: "letter";
    color: var(--color-3);
    margin-top: 0px;
    margin: 0px 0px 0px;
    width: 120px;
    height: 14px;
    margin-left: 60px;
}
>>>>>>> 50a2940 (feat: :lipstick: agregando botones nuevos)
