@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-4);
}
/**************** Header ****************/
header{
    /*background-color: var(--color-1)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.back__button{
    background-color: var(--color-4);
    border: none;
    padding: 1px 1px;
}
.search__button{
    background-color: var(--color-4);
    border: none;
    padding: 1px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .container_main{
    display: flex;
}
.section__images{
    padding: 25px 22px 0px 0px;
    background-color: var(--color-4);

}
.section__description{
    padding-top: 15px;
    padding-left: 30px;
    font-family: "Roboto-Regular";
    line-height: 25px;
    font-size: 14px;
}
.section__description strong{
    font-family: "Roboto-SemiBold";
    font-size: 16px;
}
.spicy{
    padding-top: 30px;
    padding-left: 30px;
    font-family: "Roboto-Medium";
    font-size: 14px;
    line-height: 28px;
}
.barra{
    padding-left: 30px;
}
.slider{
    width: 160px;
    height: 7px;
    /*appearance: none;*/
    /*background-color: var(--color-3);*/
    border-radius: 5px;
}
.mild{
    padding-top: 5px;
    padding-left: 30px;
    color: var(--color-11);
    font-family: "Roboto-Medium";
    font-size: 12px;

}
.hot{
    margin-top: -13px;
    padding-left: 170px;
    color: var(--color-3);
    font-family: "Roboto-Medium";
    font-size: 12px;
}
.portion{
    padding-top: 55px;
    padding-left: 30px;
    font-family: "Roboto-Medium";
    font-size: 12px;
}
.button__minus{
    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--color-4);
    border: none;
}
.button__add{
    padding-top: 10px;
    padding-left: 45px;
    background-color: var(--color-4);
    border: none;
}
.main .input__number{
    display: flex;
    justify-content: center;
    margin-top: -60px;

}
.main .input__number input[type="number"]{
    width: 45px;
    height: 30px;
    font-size: 20px;
    padding: 1px;
    border-radius: 8px;
    text-align: center;
    border: none;
}
/**************** Header ****************/