@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.back{ 
    padding:12px 22px


}
.search { 
    padding:12px 22px
}

.burger {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    width: 350px;
    height: auto; 

}


.letter {
    font-family: "Roboto-Regular";
    text-align: left;
    font-weight: bold; 
    margin-top: 16px; 
    color: #3C2F2F; 
    padding-left: 19px;
}