@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--color-7); */
}
/************* Header *************/
header{
    background: linear-gradient(165deg, var(--color-2), var(--color-3) 67%);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.header__splash{
    /* background-color: var(--color-11); */
    display: flex;
    margin-top: 200px;
}
.header__splash h1{
    font-family: Lobster-Regular;
    font-size: 60px;
    font-weight: normal;
}
.header__splash h1 a{
    text-decoration: none;
    color: var(--color-4);
}
.header__img{
    display: flex;
    align-items: flex-end;
    margin-top: auto;
}
.img__1{
    position: absolute;
    left: 0px;
}
.img__2{
    position: absolute;
    left: 122px;
}
.img__3{
    position: absolute;
    left: 204px;
}
.img__4{
    position: absolute;
    left: 135px;
}
