:root{
    --color-1: #FFFF;
    --color-2: #3C2F2F;
}
@font-face {
    font-family: "Inter_18pt-Bold";
    src: url(../storage/fonts/Inter/static/Inter_18pt-Bold.ttf);
}
@font-face {
    font-family: "Inter_28pt-Bold";
    src: url(../storage/fonts/Inter/static/Inter_28pt-Bold.ttf);
}
@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(../storage/fonts/Inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter_28pt-Regular";
    src: url(../storage/fonts/Inter/static/Inter_28pt-Regular.ttf);
}

